*{
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
    width:8px;
    height: 8px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
    border-radius:10px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius:10px;
    background:rgba(0,0,0,0.1);
    /* cursor: pointer; */
}
li{
    list-style-type: none;
}
.root{
    font-family: Consolas,Monaco，Andale Mono,Ubuntu Mono,monospace,"Microsoft YaHei";
    color:#636D76;
}
.shadow-card{
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, .3) 1px 1px 3px;
}
.group{
    display: flex;
    align-items: flex-end;
}
.group .delimiter{
    font-size: 20px;
    padding: 0 5px;
}

.lower>div>div + div,
.upper>div>div + div{
    margin-bottom: 5px;
}