*{
  margin: 0;
  padding: 0;
}
.root{
    font-family: Consolas,Monaco，Andale Mono,Ubuntu Mono,monospace,"Microsoft YaHei";
    color:#636D76;
}
.shadow-card{
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, .3) 1px 1px 3px;
}